@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?fuvz99');
  src:  url('icomoon.eot?fuvz99#iefix') format('embedded-opentype'),
    url('icomoon.ttf?fuvz99') format('truetype'),
    url('icomoon.woff?fuvz99') format('woff'),
    url('icomoon.svg?fuvz99#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon {
    color: #ec706c;
}

.icon-location_1:before {
  content: "\e900";
}
.icon-location_2:before {
  content: "\e901";
}
.icon-location_3:before {
  content: "\e902";
}
.icon-location_4:before {
  content: "\e903";
}
.icon-location_5:before {
  content: "\e904";
}
.icon-location_6:before {
  content: "\e905";
}
.icon-location_7:before {
  content: "\e906";
}
.icon-location_8:before {
  content: "\e907";
}
.icon-location_9:before {
  content: "\e908";
}
.icon-location_10:before {
  content: "\e909";
}

.data_item_card_panel .card_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
