<?xml version='1.0' encoding='utf-8'?>
<widget id="com.metrodata.datamap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="android-minSdkVersion" value="19" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="cdvStartInBackground" value="true" />
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <hook src="hooks/copy_build_extras.js" type="after_platform_add" />
    <name>Datamap</name>
    <description>
        Datamap mobile
    </description>
    <author email="service@metrodata.cn" href="http://www.metrodata.cn">
        Shanghai Metrodata Tech Co., Ltd.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="browser">
        <preference name="SplashScreen" value="./static/images/datamap_logo.png" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="SplashScreenBackgroundColor" value="green" />
        <preference name="ShowSplashScreen" value="false" />
        <preference name="SplashScreenWidth" value="600" />
        <preference name="SplashScreenHeight" value="300" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/mipmap-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="res/icon/android/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/icon/android/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icon/android/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" />
        <splash density="land-hdpi" src="res/screen/android/drawable-land-hdpi.png" />
        <splash density="land-ldpi" src="res/screen/android/drawable-land-ldpi.png" />
        <splash density="land-mdpi" src="res/screen/android/drawable-land-mdpi.png" />
        <splash density="land-xhdpi" src="res/screen/android/drawable-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/screen/android/drawable-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/drawable-land-xxxhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/drawable-port-hdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/drawable-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/drawable-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/drawable-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/drawable-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/drawable-port-xxxhdpi.png" />
        <allow-intent href="market:*" />
        <preference name="ShowSplashScreen" value="true" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="ShowSplashScreenSpinner" value="false" />
    </platform>
    <platform name="ios">
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-20@3x.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="20" src="res/icon/ios/icon-20-ipad.png" width="20" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon height="114" src="res/icon/ios/icon-57@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="29" src="res/icon/ios/icon-29.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-29@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/icon-29@3x.png" width="87" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="167" src="res/icon/ios/icon-83.5@2x.png" width="167" />
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="ShowSplashScreen" value="true" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="ShowSplashScreenSpinner" value="false" />
    </platform>
    <custom-preference name="android-manifest/application/activity/@android:theme" value="@style/WelcomeStyle" />
    <allow-navigation href="*" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="KeyboardResizeMode" value="true" />
    <preference name="xwalkMultipleApk" value="false" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-backbutton" spec="~0.3.0" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="~2.0.5" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="~1.1.5-dev" />
    <plugin name="cordova-plugin-advanced-http" spec="~1.11.1" />
    <plugin name="cordova-plugin-wechat" spec="~2.3.0">
        <variable name="WECHATAPPID" value="wx876af3b122110aed" />
    </plugin>
    <plugin name="cordova-hot-code-push-plugin" spec="~1.5.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin name="cordova-custom-config" spec="~5.0.2" />
    <plugin name="cordova-fix-blackscreen" spec="node_modules/cordova-fix-blackscreen" />
    <chcp>
        <config-file url="http://m.lite.maicedata.com/chcp.json" />
        <native-interface version="1" />
        <auto-download enabled="false" />
        <auto-install enabled="false" />
    </chcp>
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="browser" spec="^5.0.3" />
</widget>
