.workspace-nav-tit {
  align-self: stretch;
  flex: 1;
  align-items: center;
  display: flex!important;
  flex-direction: row;
  justify-content: center;
  .f7-icons {
    font-size: 10px !important;
    margin-left: 5px;
    transition: all 0.1s;
    transform: translate3d(0px, 0px, 0px);
    margin-bottom: 3px;
  }
  &.open {
    .f7-icons {
      transform: rotate(180deg);
    }
  }
}

.ws-top-fade-enter-active, .ws-top-fade-leave-active {
  transition: all 0.3s;
}

.ws-top-fade-enter, .ws-top-fade-leave-to {
  opacity: 0;
}

.ws-nav-top-list {
  transform: translate3d(0px, 0px, 0px);
  position: fixed;
  z-index: 999999;
  left: 0;
  right: 0;
  width: 100%;
  top: 44px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 0;
  .list {
    margin: 0;
    padding: 12px 0 15px 0;
    background: rgba(255,255,255,0.95);
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    ul {
      background: transparent;
      height: 265px;
      overflow: auto;
      opacity: 1;
      transition: all 0.3s;
      transform: translate3d(0px, 0px, 0px);
    }
    ul:before, ul:after {
      display: none;
    }
    .item-content {
      padding-left: 0;
    }
    .item-inner {
      min-height: 44px;
      padding-right: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      padding-left: 64px;
    }
    .item-inner:after {
      display: none;
    }
    .item-inner.active-state {
      background: rgba(237, 237, 237, 0.4);
    }
    li.selected .item-inner {
      color: #007AFF;
    }
  }

  .ios .ptr-refreshing .ws-nav-top-list {
    top: 0;
  }
  &.ws-top-fade-enter, &.ws-top-fade-leave-to {
    .list ul {
      height: 0;
      opacity: 0;
    }
  }
}

.charts-draw-area {
  width: 100%;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
}
.echart_card {
  width: 100%;
  // margin-right: 15px;
  // height: 300px;
}

.chart_title {
  height: 24px;
}
.echarts_cus.echarts {
  width: 100%;
  height: 100%;
}

.echarts_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chart_inner {
  height: 100%;
  width: 100%;
}

.ios .ws_nodata {
  background: url('../../static/images/home.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.ios .ws_nodata:after {
  content: '暂无数据，请在PC端添加';
  font-size: 20px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 15vh;
  color: #a8a8a8;
}
.ios .ws_page .page-content {
  margin-top: 0px;
}
.ios .ws_nodata .page-content {
  margin-top: -44px;
}
.ios .ws_page .ptr-preloader {
  margin-top: -44px;
}
.ios .ws_nodata .ptr-preloader {
  margin-top: -44px;
}
.ios .ws_nodata .ptr-no-navbar .ptr-preloader {
  margin-top: 0;
}

.ios .ws_page .ptr-no-navbar {
    height: 100%;
}
.ios .ws_nodata .ptr-no-navbar {
    height: calc(100% + 44px);
}

//设置工作台地图卡片图表样式
.icon-polygon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid;
  vertical-align: center;
  display: inline-block;
}
//设置工作台地图详情页面提示框样式
.map-card-toast {
  top: 60px !important;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4px;
  position: absolute;
}
//设置工作台picker样式
.picker {
  .toolbar::before {
    display: none !important;
  }
  .toolbar {
    background-color: #E0E0E0;
  }
  .picker-columns {
    font-size: 18px;
    .picker-center-highlight {
      &:before, &:after {
        background-color: #DDDDDD;
      }
    }
  }
}
.sheet-modal {
  background-color: #fff !important;
}
//筛选器字段筛选搜索框样式
.filter-field-search {
  .searchbar-inner {
    .searchbar-input-wrap {
      input {
        background-color: #fff;
      }
    }
  }
}


